.clipboard-feat-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto-fit 1fr;
  grid-template-areas:
    "feat-top feat-top"
    "hero content";
}

.clipboard-feat-top {
  grid-area: feat-top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.clipboard-feat-top__description {
  width: 37%;
}
.clipboard-feat-top__title {
  margin: 0;
}

.clipboard-feat__description {
  text-align: center;
  width: 35%;
}
.clipboard-feat__hero {
  grid-area: hero;
  position: relative;

  display: flex;
  align-items: flex-end;
}

.clipboard-feat__hero > img {
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-height: 100%;
  left: -10%;
}

.clipboard-feat__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clipboard-feat__content__item {
  width: 40%;
  margin-left: 5%;
}
@media screen and (min-width: 375px) {
  .clipboard-feat-container {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 20% auto-fill;
    grid-template-areas:
      "feat-top"
      "hero"
      "content";
  }

  .clipboard-feat-top__title {
    margin: 0;
    width: 80%;
  }
  .clipboard-feat-top__description {
    width: 90%;
  }
  .clipboard-feat__hero {
    justify-content: center;
  }
  .clipboard-feat__hero > img {
    position: relative;
    width: 90%;
    left: 0;
  }
  .clipboard-feat__content {
    align-items: center;
    text-align: center;
  }
  .clipboard-feat__content__item {
    width: 90%;
    margin-left: 5%;
  }
}
